
.nav{
  padding-right: 0;
  padding-left: 0;
  .nav__item{
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    line-height: 2.5em;
    li:hover{
      background-color: $color-headline;
    }
  }
  a{
    text-decoration: none;
    color: $color-grey-font-dark;
  }
  a:hover{
    color: white;
  }
  @media (min-width: 769px) {
    @include flexbox_container_row;
  }
}
